.div_brand_img1 {
  width: 480px;
  height: 562.5px;
  margin-top: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  background: url(../../src/assets/mainpage/brand-allsaint.jpg);
  background-size: cover;
  position: relative;
}
.p_allsaints{
  position: absolute;
  top:390px;
  left:50px;
  margin: 0 5px 4px 4px;
  text-shadow: 0 4px 4px #000;
  font-family: IstokWeb;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.btn_allsaint{
  position: absolute;
  text-shadow: 0 4px 4px rgba(81, 79, 79, 0.75);
  font-family: IstokWeb;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  top:450px;
  left:50px;
  width: 130px;
  height: 60px;
  margin: 4px 0 0;
  padding:10px;
  border-radius: 50px;
  background-color: #fff;
}

.div_brand_img2 {
  width: 480px;
  height: 562.5px;
  margin-top: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  background: url(../../src/assets/mainpage/brand-angel\ &\ rocks.jpg);
  background-size: cover; 
  position: relative;
}
.p_angel{
  position: absolute;
  top:390px;
  left:50px;
  margin: 0 5px 4px 4px;
  text-shadow: 0 4px 4px #000;
  font-family: IstokWeb;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.btn_angel{
  position: absolute;
  text-shadow: 0 4px 4px rgba(81, 79, 79, 0.75);
  font-family: IstokWeb;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  top:450px;
  left:50px;
  width: 130px;
  height: 60px;
  margin: 4px 0 0;
  padding:10px;
  border-radius: 50px;
  background-color: #fff;
}
.div_brand_img3 {
  width: 480px;
  height: 562.5px;
  margin-top: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  background: url(../../src/assets/mainpage/brand\ love\ &rocks.jpg);
  background-size: cover;
  position: relative;
}
.p_love{
  position: absolute;
  top:390px;
  left:50px;
  margin: 0 5px 4px 4px;
  text-shadow: 0 4px 4px #000;
  font-family: IstokWeb;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.btn_love{
  position: absolute;
  text-shadow: 0 4px 4px rgba(81, 79, 79, 0.75);
  font-family: IstokWeb;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  top:450px;
  left:50px;
  width: 130px;
  height: 60px;
  margin: 4px 0 0;
  padding:10px;
  border-radius: 50px;
  background-color: #fff;
}
.div_levis {
  background: url(../../src/assets/mainpage/barnd-baner.jpg);
  background-size: cover;
  width: 97.5%;
  margin: auto;
  margin-top: 20px;
  justify-items: center;
  height: 579px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
  position: relative;
}
.p_levis{
  font-family: JacquesFrancois;
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  position:absolute;
  top: 140px;
  left:560px;
}
.btn_levis{
  width: 200px;
  height: 67px;
  border-radius: 50px;
  background-color: #fffbfb;
  font-family: Itim;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.96;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  position: absolute;
  top: 220px;
  left:600px;
}
.p_brand_next{
  width: 295px;
  height: 63px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  font-family: IstokWeb;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000;

}

.brand_logo {
  width: 190px;
  height: 81.5px;
  flex-grow: 0;
  /* margin: 0 10px 0 7px; */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.div_edited_sprit1 {
  background: url(../../assets/mainpage/sprit1.jpg);
  width: 860px;
  height: 540px;
  margin-top: 50px;

}

.div_edited_sprit2 {
  background: url(../../assets/mainpage/sprit2.jpg);
  width: 630px;
  height: 540px;
  margin-top: 50px;
  position: relative;
}
.p_edited{
  position: absolute;
  top:60px;
  left:20px;
  width: 168px;
  height: 57px;
  margin: 0 412px 16px 0;
  font-family: IstokWeb;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.p_the_striped{
  position: absolute;
  top:100px;
  left:20px;
  width: 380px;
  height: 55px;
  margin: 16px 214px 16px 5px;
  font-family: IstokWeb;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.p_its_true{
  position: absolute;
  top:170px;
  left:20px;
  width: 567px;
  height: 138px;
  margin: 16px 0 0 13px;
  font-family: IstokWeb;
  font-size: 23px;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
