*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.div_banner_bottom{
    display: flex;
    justify-content: space-evenly;
}
.div_banner1{
    width: 650px;
    height: 812.5px;
    flex-grow: 0;
    margin: 0 37px 0 0;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    background-color: bisque;
  } 
.div_banner2{
    width: 650px;
    height: 812.5px;
    flex-grow: 0;
    margin: 0 0 0 37px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    background-color: bisque;


}