* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.div_p_category {
    display: flex;
    justify-content: start;
}

.p_shop_category {
    width: 700px;
    font-family: Inter;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left:20px
}

.div_img_catrgory {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.img_category {
    width: 350px;
    height: 450px;
    box-shadow: 2px 4px 7px 0 rgba(0, 0, 0, 0.25);
}

.p_category {
    width: 115px;
    height: 25px;
    font-family: Inter;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-top: 15px;
}