* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background: #faf1e8;
}



.p_Bride {
    width: 696px;
    margin: auto;
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin-bottom: 10px;
}

.p_styles {
    width: 696px;
    margin: auto;
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin-bottom: 30px;

}

.p_shop {
    width: 696px;
    margin: auto;
    margin-top: 30px;
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: oblique;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-decoration: underline;
    color: #000;
}

.div_img_brid {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.img_brid {
    width: 480px;
    height: 600px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.div_img_child_bird {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.div_img_child_bird img:nth-of-type(1) {
    width: 48%;
    height: 800px;
    /* margin-left: 100px; */
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);

}

.div_img_child_bird img:nth-of-type(2) {
    width: 48%;
    height: 800px;
    /* margin-right: 100px; */
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);


}