* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background: #faf1e8;
}
 .div_p{
    padding-top: 50px;
 }

.p_children_wear {
    width: 380px;
    font-family: Inter;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin:auto;
    margin-bottom: 30px;
}

.p_collection {
    width: 446px;
    margin:auto;
    margin-bottom: 30px;
    font-family: Inter;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.p_for_little {
    width: 1005px;
    margin:auto;
    margin-bottom: 30px;
    font-family: Inter;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.p_shop_girl {
    width: 439px;
    height: 94px;
    margin:auto;
    margin-top: 30px;
    font-family: Inter;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-decoration: underline;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.div_img_children_wear {
    display: flex;
    justify-content: space-between;
    width: 82%;
    margin: auto;

}

.img_children_wear {
    width: 300px;
    height: 448.2px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.25);
}

.div_banner {
    display: flex;
    justify-content: center;
}

.img_banner {
    width: 100%;
    height: 700px;
}