* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.div_p_beauty {
    display: flex;
    justify-content: start;
}

.p_beauty {
    width: 445px;
    height: 61px;
    margin-left:30px;
    font-family: Inter;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.div_img_beauty {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.img_beauty {
    width: 450px;
    height: 592.5px;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.25);
}