* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.p_top_categori {
    width: 347px;
    height: 43px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    font-family: IstokWeb;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.div_men_category {
    background: url(../../assets/mainpage/men-categori.jpg);
    background-size: cover;
    width: 480px;
    height: 562.5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.p_men {
    width: 132px;
    height: 29px;
    margin: auto;
    margin-bottom: 50px;
    font-family: IstokWeb;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.div_child_category {
    background: url(../../assets/mainpage/kids-categori.jpg);
    background-size: cover;
    width: 480px;
    height: 562.5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.p_children {
    width: 132px;
    height: 29px;
    margin: auto;
    margin-bottom: 50px;
    font-family: IstokWeb;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.div_women_category {
    background: url(../../assets/mainpage/woman-categori.jpg);
    background-size: cover;
    width: 480px;
    height: 562.5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.p_women {
    width: 132px;
    height: 29px;
    margin: auto;
    margin-bottom: 50px;
    font-family: IstokWeb;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}