.div_new_collect {
    width: 100%;
    height: 100px;
    flex-grow: 0;
    margin: 15px 0 24px;
    padding: 20px;
    box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.25);
    background-color: #e8d8c9;
}

.div_img_new_collect {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.span_new_collect {

    margin: 0 0 10px;
    font-family: CantataOne;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: 3.6px;
    text-align: left;
    color: #000000;
    margin-right: 25px !important;


}

.btn_new_collect {
    width: 120px;
    height: 40px;
    flex-grow: 0;
    padding: auto;
    background-color: #000;
    color: #fff;
    margin: auto;
    font-size: larger;
}

.div_img_new_collect div:nth-of-type(1) {
    background: url(../../assets/mainpage/coll11.jpg);
    background-size: cover;
    width: 450px;
    height: 591px;
    box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 0.5);
    position: relative;
}

.p_new_season {
    width: 344px;
    height: 33px;
    flex-grow: 0;
    text-shadow: 0 4px 4px #000;
    font-family: IstokWeb;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    position: absolute;
    top: 450px;
    left: 40px
}

.a_new_season {
    width: 164px;
    height: 55px;
    flex-grow: 0;
    margin: 33px 180px 0 0;
    text-shadow: 0 4px 4px #000;
    font-family: IstokWeb;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.39;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    position: absolute;
    top: 470px;
    left: 40px;
    text-decoration: none;
}

.div_img_new_collect div:nth-of-type(2) {
    background: url(../../assets/mainpage/coll2.jpg);
    background-size: cover;
    width: 450px;
    height: 591px;
    box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 0.5);
    position: relative;
}

.p_whats_new {
    width: 344px;
    height: 33px;
    flex-grow: 0;
    text-shadow: 0 4px 4px #000;
    font-family: IstokWeb;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    position: absolute;
    top: 450px;
    left: 40px
}

.a_whats_new {
    width: 164px;
    height: 55px;
    flex-grow: 0;
    margin: 33px 180px 0 0;
    text-shadow: 0 4px 4px #000;
    font-family: IstokWeb;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.39;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    position: absolute;
    top: 470px;
    left: 40px;
    text-decoration: none;
}

.div_img_new_collect div:nth-of-type(3) {
    background: url(../../assets/mainpage/coll3.jpg);
    background-size: cover;
    width: 450px;
    height: 591px;
    box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 0.5);
    position: relative;
}

.p_blazer {
    width: 344px;
    height: 33px;
    flex-grow: 0;
    text-shadow: 0 4px 4px #000;
    font-family: IstokWeb;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    position: absolute;
    top: 450px;
    left: 40px
}

.a_blazer {
    width: 164px;
    height: 55px;
    flex-grow: 0;
    margin: 33px 180px 0 0;
    text-shadow: 0 4px 4px #000;
    font-family: IstokWeb;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.39;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    position: absolute;
    top: 470px;
    left: 40px;
    text-decoration: none;
}